.medicines-container {
  min-height: 70svh;

  justify-content: space-between;
  padding: 0 16px;
  padding-top: 20px;
  flex-wrap: wrap;
  background-color: #faf9fd;
}

.medicines-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-container {
  justify-content: end;
  margin-right: 0px;
}

.btn-add-medicine {
  width: 160px;
  height: 55px;
  background-color: #1bbfa1;
  color: white;
  font-size: medium;
}

.btn-add-medicine {
  border-radius: 0.25rem;
  border: 0px;
}
.btn-add-medicine:hover {
  background-color: #0d8a73;
  cursor: pointer;
}
.btn-add-medicine:active {
  background-color: #1bbfa1;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.btn-add-medicine:disabled {
  background-color: #87a29d;
  cursor: default;
}

table {
  width: 100%;
  border: 3px solid #4e94bf;
  border-radius: 2px;
}

th {
  text-align: center;
}

th,
td {
  border: 0px solid #4e94bf;
}

.table-content {
  width: 100%;
  min-height: 55vh;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

.mat-column-id {
  width: 32px;
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}

.mat-column-medicineType {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}

.mat-column-description {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-dosageForm {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-medicineContainer {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-state {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-expireAt {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}

.mat-mdc-header-row {
  background-color: #417fa6;
  color: white;
  font-size: medium;
  text-align: center;
}
.mat-column-actions {
  width: 120px;
  padding-right: 20px;
  text-align: center;
}
.btnfirst {
  margin-right: 10px;
}
td > button {
  border: #417fa6 2px solid;
}