<div class="patient-container">
  <div class="form-container">
    <form [formGroup]="patientForm" (ngSubmit)="addPatient()">
      <h2 class="titlepatient">New Patient</h2>
      <div class="allform">
        <div class="patientfields">
          <mat-form-field id="patientnumber">
            <mat-label>Patient Number</mat-label>
            <input
              id="patientNumber"
              matInput
              formControlName="patientNumber"
              type="text"
              required
              placeholder="Enter patient number"
            />
          </mat-form-field>

          @if (patientNumber?.invalid && patientNumber?.touched ||
          patientNumber?.dirty) {
          <div class="alert alert-danger">
            @if (patientNumber?.hasError('required')){
            <mat-error> Patient number is required. </mat-error>
            }@else if (patientNumber?.hasError('invalidFormat')){
            <mat-error> Invalid Format. </mat-error>
            }@else if (patientNumber?.hasError('invalidClinic')) {
            <mat-error> Clinic number does not exists. </mat-error>
            }@else if(patientNumber?.hasError('patientExists')){
            <mat-error> Patient number already exists. </mat-error>
            }
          </div>
          }
          <mat-form-field id="dateofbirth">
            <mat-label>Date Of Birth</mat-label>
            <input
              matInput
              formControlName="dateOfBirth"
              type="date"
              required
              placeholder="Enter date of birth"              
            />
          </mat-form-field>
        </div>
        <div class="male">
          <mat-radio-group aria-label="Select gender" formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <button
            class="btnfullwidth"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </div>
    </form>
    <div class="errortext">
      <p>{{errorMessage()}}</p>
    </div>
  </div>
  <div class="image-container">
    <img src="newpatient.png" alt="doctor" width="400px" />
  </div>
</div>
