.mr-navbar {
  display: flex;
  overflow: hidden;
  
  border-top: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top: 4px solid #417FA6;
}
.menuitem {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hidelogin{
  display: none;
}
.showlogin{
  display: block;
}



.mr-navbar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  transition: 0.3s;
  color: #417FA6;
  font-size: medium;
}

.mr-navbar button.active {
  background-color: #417FA6;
  color: white;
}
