.loginbar {
  display: flex;
  margin-top: 5px;
}

.userphoto {
  height: 100%;
  width: auto;
  border: 2px solid white;
  vertical-align: middle;
}

.btnimage .iconimg {
  width: 25px;
}
.btnimage {
  margin-top: 20px;
  background: none;
  padding: 0;
  padding-top: 5px;
  border: 0;
  cursor: pointer;
}

.anonymous {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  transition: 0.3s;
  color: #024959;
  font-size: medium;
}

.userbtn {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imgborder {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-right: 10px;
  height: 76px;
  width: 76px;
  border-radius: 50%;
}
.username-short {
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
  font-size: medium;
  color: #024959;
}

.usermenu {
  padding-top: 1px;
}
