.add-container {
  display: flex;
  flex-wrap: wrap;
}
.first-col, .second-col{
    width: 50%;

}
.mat-mdc-dialog-panel{
 max-width: 700px;
}

.mat-dialog-content{
  max-width: 700px;
}
.first-col > mat-form-field{
  width: 300px;
}
.second-col > mat-form-field{
  width: 320px;
}

mat-dialog-actions > .mainbtn{
  background-color: #326a8c;
  color: white;
  border-radius: 0.25rem;
  width: 130px;
  height: 50px;
  font-size: medium;
}

mat-dialog-actions > .mainbtn:hover{
  background-color: #265877;
  cursor: pointer;  
}


mat-dialog-actions > .cancelbtn{
  background-color: #F24141;
  color: white;
  border-radius: 0.25rem;
  width: 130px;
  height: 50px;
  font-size: medium;
}
h2 {
  text-align: center;
  color: #326a8c;
}