.supply-container {
  min-height: 70svh;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  padding-top: 20px;
  background-color: #faf9fd;
}

.supply-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1;
  justify-content: space-between;
  width: 100%;
}
.supply-header > mat-form-field {
  display: block;
}
.supply-header > button {
  height: 55px;
}
.select-fields {
  width: 350px;
}
#minusamount,
#plusamount {
  width: 70px;
  height: 57px;
  background-color: #209973;
  color: white;
  border-radius: 0.25rem;
  font-size: 25pt;
}
#minusamount,
#plusamount:hover {
  cursor: pointer;
}

.amountgroup {
  display: flex;
}

.amountgroup > mat-form-field {
  display: block;
}
.btnaddmed {
  height: 57px;
  width: 150px;
  background-color: #209973;
  color: white;
  font-size: medium;
}

.btnaddmed {
  border-radius: 0.25rem;
  border: 0px;
}
.btnaddmed:hover {
  background-color: #177155;
  cursor: pointer;
}
.btnaddmed:active {
  background-color: #209973;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#supplyclinic {
  margin-right: 20px;
}
table {
  width: 100%;
}
.table-content {
  width: 100%;
}

.btn-container {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}
.btnsupply {
  width: 140px;
  background-color: #024959;
  color: white;
  height: 55px;
  border-radius: 0.25rem;
  font-size: medium;
}
.btnsupply:hover {
  background-color: #0a6a9b;
  cursor: pointer;
}
