<div class="supply-container">
  <div class="supply-header">
    <div>
      <mat-form-field class="select-fields" id="supplyclinic">
        <mat-label>Choose the clinic</mat-label>
        <mat-select>
          <input matInput placeholder="Search">
          @for (clinic of clinics; track clinic) {
          <mat-option [value]="clinic.id">{{clinic.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-fields">
        <mat-label>Choose the medicine from stock</mat-label>
        <mat-select>
          @for (stock of stockMedicines; track stock) {
          <mat-option [value]="stock.MedicineId"
            >{{stock.Description}}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="amountgroup">
      <button id="minusamount">-</button>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input
          matInput
          [(ngModel)]="amount"
          type="number"
          required
          placeholder="Enter amount"
        />
      </mat-form-field>
      <button id="plusamount">+</button>
    </div>
    <div>
      <button class="btnaddmed">Add Medicine</button>
    </div>
  </div>

  <div class="table-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="ClinicId">
        <th mat-header-cell *matHeaderCellDef>ClinicId</th>
        <td mat-cell *matCellDef="let element">{{element.ClinicId}}</td>
      </ng-container>

      <ng-container matColumnDef="ClinicName">
        <th mat-header-cell *matHeaderCellDef>ClinicName</th>
        <td mat-cell *matCellDef="let element">{{element.ClinicName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="MedicineId">
        <th mat-header-cell *matHeaderCellDef>MedicineId</th>
        <td mat-cell *matCellDef="let element">{{element.MedicineId }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.Description}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.Amount}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="btn-container">
    <button class="btnsupply">Supply Medicine</button>
  </div>
</div>
