<h2 mat-dialog-title>Edit Medicine</h2>

<mat-dialog-content>
  <div class="add-container">
    <div class="first-col">
      <mat-form-field>
        <mat-label>Medicine type</mat-label>
        <mat-select [(ngModel)]="medicineTypeId">
          @for (medicineType of medicineTypes; track medicineType.id) {
          <mat-option [value]="medicineType.id"
            >{{medicineType.name}}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dosage form</mat-label>
        <mat-select [(ngModel)]="dosageFormId">
          @for (dosageForm of dosageForms; track dosageForm.id) {
          <mat-option [value]="dosageForm.id">{{dosageForm.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Container</mat-label>
        <mat-select [(ngModel)]="medicineContainerId">
          @for (container of medicineContainers; track container.id) {
          <mat-option [value]="container.id">{{container.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="amount"
          placeholder="Enter amount"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="state">
          @for (stat of states; track stat) {
          <mat-option [value]="stat"
            >{{stat | mrMedicineState}}</mat-option
          >
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="second-col">
      <mat-form-field>
        <mat-label>Expired</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="expireAt"
          placeholder="Enter Expired"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="description"
          placeholder="Enter Description"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="12"
          cdkAutosizeMaxRows="18"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mainbtn" matButton (click)="edit()" cdkFocusInitial>
    Update
  </button>
  <button class="cancelbtn" matButton (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
