.usersroles-container {
  min-height: 70svh;

  justify-content: space-between;
  padding: 0 16px;
  padding-top: 20px;
  flex-wrap: wrap;
  background-color: #faf9fd;
}


table {
  width: 100%;
  border: 3px solid #4e94bf;
  border-radius: 2px;
}

th {
  text-align: center;
}

th,
td {
  border: 0px solid #4e94bf;
}

.table-content {
  width: 100%;
  min-height: 55vh;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

.mat-column-id {
  width: 32px;
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}

.mat-mdc-header-row {
  background-color: #417fa6;
  color: white;
  font-size: medium;
  text-align: center;
}
.mat-column-actions {
  width: 120px;
  padding-right: 20px;
  text-align: center;
}
.mat-column-actions {
  width: 120px;
  padding-right: 20px;
  text-align: center;
}

.mat-column-firstName {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-lastName {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-roleId {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.mat-column-roleName {
  border-right: 2px solid #91bdd9;
  padding-right: 24px;
  text-align: center;
}
.btnfirst {
  margin-right: 10px;
}
td > button {
  border: #417fa6 2px solid;
}